@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


 /* this class set the content width of editor-----  */
.jodit-wysiwyg {
  max-width: 700px; /* Set the maximum visible width of the editor */
  word-wrap: break-word; /* Ensure text wraps to the next line */
}


.custome-container{
  max-width: 1320px;
  width: 100%;
}

.userProf::before {
  content: "";
  position: absolute;
  top: -8%;
  right: 4%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid  rgb(204, 204, 204);
}

/* This css class for delete post toast custmization   */
.toasti { 
  color: white;
  background-color:rgb(12, 195, 79);
  border-left: 5px solid rgb(3, 141, 54); 
  border-radius:0px; 
  padding: 8px; 
  width: 300px;
  font-size: 18px;
  border-top: 1px solid rgb(12, 195, 79); 
  border-bottom: 1px solid rgb(12, 195, 79); 
  border-right: 1px solid rgb(12, 195, 79); 


}
.Box-one{
  box-shadow: 0px 2px 1px -1px rgba(58, 53, 65, 0.2),
  0px 1px 1px 0px rgba(58, 53, 65, 0.14),
  0px 1px 3px 0px rgba(58, 53, 65, 0.12);
  transition:box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.custome-shadow{
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}


/* ScrollButtons.css */
.scroll-buttons-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}

.scroll-buttons-container.visible {
  display: flex;
  flex-direction: column;
}

.scroll-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-11px);
  }
  60% {
    transform: translateY(-10px);
  }
}

.bounce-animation {
  animation: bounce 1s infinite;
}

/* =================================== Css for circular Loader ============================== */

.loading {
  width: 100vw;
  height: 70vh;
  background-color: white;
  display: grid;
  place-items: center;
  max-width: 100%;
}

.loading > div {
  width: 7vmax;
  height: 7vmax;
  /* border-bottom: 5px solid rgba(0, 0, 0, 0.719); */
  border-bottom: 5px solid rgba(3, 52, 244, 0.719);

  border-radius: 50%;

  animation: loadingRotate 800ms linear infinite;
}

@keyframes loadingRotate {
  to {
    transform: rotateZ(-360deg);
  }
}
/* ====================================== css for search icon movement ================== */

.circular-movement {
  border-radius: 50%;
  position: relative;
  animation: moveCircle 1.5s infinite linear;
}

@keyframes moveCircle {
  0% {
    transform: translateX(0) translateY(0);
  }
  25% {
    transform: translateX(10px) translateY(0);
  }
  50% {
    transform: translateX(10px) translateY(8px);
  }
  75% {
    transform: translateX(0) translateY(8px);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}

/* ===================== Company page css ============================= */
.main-div {
   transition: background 2s ease;
}

.gradient-green {
  background: linear-gradient(to right, #00ff00, #33cc33);
  transition: background 2s ease;
}

.gradient-blue {
  background: linear-gradient(135deg, rgb(253, 237, 243) 0%, rgb(239, 158, 189) 100%);
 
}

.gradient-yellow {
  background: linear-gradient(to right, #ffff00, #ffcc00);
 
}

/* ================================= Admin page  Css  ==================================== */

.login-height{
height: calc(100vh - 50px) ;
}

@media (max-width:420px) {
.blog-main-content img{
 width:350px;
 object-fit: cover;
 
}
}